.car-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  padding: 30px;
}
.car-item {
  border: 1px solid gray;
}

button {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .car-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .car-items {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .car-items {
    grid-template-columns: 1fr 1fr;
  }
}
